{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="https://digitalblog.github.io/cdn/css/auth.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://digitalblog.github.io/cdn/css/auth.css"></noscript>
  <link rel="canonical" href="https://digitalblog.repl.co/auth/forget-password-request" />
  <title>Восстановление пароля - DigitalBlog</title>
{% include '_layout.html' %}
</head>
<body>
  <div class="wrapper">
      <a href="/">
<img loading="lazy" src="https://digitalblog.github.io/cdn/img/programming.webp" class="href" alt="Logo" width="72" height="72">
</a>
    <h1>Восстановление пароля</h1>
    <form onsubmit="document.getElementById('loader').classList.toggle('done');" method="POST">
        {{ form.hidden_tag() }}
          {{ form.email(class="email", type="text",required='required',placeholder="Email*") }}
        {% if form.email.errors %}
        {% for message in form.email.errors %}
      <div class="has-error">
        <p class="help-block">{{ message }}</p>
      </div>
          {% endfor %}
        {% else %}
        <br><br>
        {% endif %}
    <div id="ReCaptcha">
    </div>
        {% for message in form.recaptcha.errors %}
      <div class="has-error">
        <p class="help-block">{{ message }}</p>
      </div>
          {% endfor %}
    {{ wtf.form_field(form.submit, class="button") }}
    </form>
  </div>
<script>
window.addEventListener("load", () => {
    var groupDiv = document.getElementById('ReCaptcha');
    if (groupDiv) {
        var scriptElement = document.createElement('script');
        scriptElement.src = '//www.google.com/recaptcha/api.js?hl={{g.locale}}';
        groupDiv.appendChild(scriptElement);
        var recaptchaDiv = document.createElement('div');
        recaptchaDiv.className = 'g-recaptcha';
        recaptchaDiv.setAttribute('data-sitekey', '{{site_key}}');
        recaptchaDiv.setAttribute('data-theme', 'light');
        recaptchaDiv.setAttribute('data-type', 'image');
        recaptchaDiv.setAttribute('data-size', 'normal');
        recaptchaDiv.setAttribute('data-tabindex', '10');
        groupDiv.appendChild(recaptchaDiv);
    }
});
</script>
</body>
</html>
</body>
</html>