f{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="https://digitalblog.github.io/cdn/css/auth.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://digitalblog.github.io/cdn/css/auth.css"></noscript>
    <meta name="title" content="Сброс пароля - DigitalBlog">
    <meta name="description" content="Сброс пароля - DigitalBlog">
  <title>Сброс пароля - DigitalBlog</title>
{% include '_layout.html' %}
</head>
<body>
  <div class="wrapper">
      <a href="/">
<img loading="lazy" src="https://digitalblog.github.io/cdn/img/programming.webp" class="href" alt="Logo" width="72" height="72">
</a>
    <h1>Восстановление пароля</h1>
    <form onsubmit="document.getElementById('loader').classList.toggle('done');" method="POST">
        {{ form.hidden_tag() }}
          {{ form.password(type="password",required='required',placeholder="Новый пароль*") }}
        {% for message in form.password.errors %}
            <p class="help-block">{{ message }}</p>                                
        {% endfor %}
        {{ form.password2(type="password", required='required', placeholder="Подтвердите новый пароль*")}}
        {% for message in form.password2.errors %}
            <p class="help-block">{{ message }}</p>                                
        {% endfor %}
    {{ wtf.form_field(form.submit, class="button") }}
    </form>
  </div>
</body>
</html>