<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}} - DigitalBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="https://digitalblog.github.io/cdn/img/icons/favicon.ico">
    <link type="image/png" sizes="16x16" rel="icon" href="https://digitalblog.github.io/cdn/img/icons/16x16.png">
    <link type="image/png" sizes="48x48" rel="icon" href="https://digitalblog.github.io/cdn/img/icons/48x48.png">
    <link type="image/png" sizes="128x128" rel="icon" href="https://digitalblog.github.io/cdn/img/icons/128x128.png">
    <link rel="apple-touch-icon" href="https://digitalblog.github.io/cdn/img/icons/apple-touch-icon.png">
    <script defer src="https://digitalblog.github.io/cdn/tinymce/js/tinymce/tinymce.min.js"></script>
    <script defer src="https://digitalblog.github.io/cdn/js/preview.js"></script>
    <style>
/* main {
    width: 100%
} */
.loader-body{width:100%;height:100%;background-color:#ffffff;position:fixed;z-index:9999999999999999999999999999;visibility:visible;top:0;left:0;text-align:center;justify-content:center;align-content:center;transition:.5s all}.loader{width:76px;height:76px;border:12px solid #fff;border-radius:50%;position:absolute;
	/*change color of border*/ border-top-color:rgb(144, 0, 255);transform:translate(-50%,-50%);top:50%;left:50%;-webkit-animation:1s spin infinite linear;-o-animation:1s spin infinite linear;animation:1s spin infinite linear}.loader-body.done{visibility:hidden;opacity:0}@keyframes spin{from{transform:translate(-50%,-50%) rotate(0)}to{transform:translate(-50%,-50%) rotate(360deg)}}        
    </style>
</head>
<body>
<div class="loader-body" id="loader">
    <div class="loader"></div>
</div>
<main>
    <textarea id="preview">
        {{body}}
    </textarea>
</main>
<script>
window.onload = function() {
    var preloader = document.getElementById('loader');
    preloader.classList.toggle('done');;
};
</script>
</body>
</html>